*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 150vh;
}

h1{
    margin-bottom: 50px;
    margin-top: 20px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    width: 280px;
    border-radius: 5% 5% 0 0;
    margin-bottom: 30px;
}

.card-img{
    width: 280px;
    height: 220px;
    background-image: url("/img/pexels-markus-spiske-1089440.jpg");
    background-size: cover;
    border-radius: 5% 5% 0 0;
}

.container{
    padding: 10px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
