@font-face {
    font-family: 'Gilroy';
    src: url('/site\ diógenes\ img/gilroy-medium.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
    url('/site\ diógenes\ img/gilroy-medium.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
    url('/site\ diógenes\ img/gilroy-medium.eot');
} 

body{
    margin: 0;
    padding: 0;
    font-family: 'Gilroy';
}

main{
    width: 80%;
    margin: 0 auto;
}

li{
    display: inline;
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

.payme, ul:first-child{
    color: #25A4AD;
}

ul, .sign{
    margin: 0;
    padding: 15px 0 15px 0;
}

ul li:nth-child(-n+4){
    margin-right: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    margin-top:40px;
}

.btn.secondary{
    padding: 18px 45px 18px 45px;
    border:solid 1px #25A4AD;
    color:#25A4AD;
}

.btn.primary{
    margin-right: 28px;
}

.main{
    display: flex;
    justify-content: space-between;

}

.main-img{
    display: grid;
    position: absolute;
    right: 135px;
}

.main-img img{
    margin-top: 40px;
    z-index: 1;
    position: absolute;
    right: 20px;
}
.rectangle.primary{
    position:absolute;
    z-index: -1;
    top: 180px;
    right: 20px;
}

.rectangle.secondary{
    position:absolute;
    z-index: -1;
    top: 180px;
    right: 3px;
}

.vector{
    position: absolute;
    right: 500px;
    top:215px;
}